<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-no-tab" version="0.0.22" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-no-tab</name>
    <dependency id="cordova-plugin-x-toast" version="2.6.2" />
    <dependency id="cordova-plugin-network-information" version="2.0.1" />
    <dependency id="cordova-plugin-inappbrowser" version="2.0.2" />
    <js-module name="notab" src="www/NoTab.js">
        <clobbers target="notab" />
    </js-module>
</plugin>
